    body {
         background: #eeeeee;
         font-family: tahoma, verdana, sans serif;
      }

/*
EXTERNAL FONT FOUND AT https://www.fontsquirrel.com/fonts/Silkscreen?filter%5Bclassifications%5D%5B0%5D=pixel&q%5Bterm%5D=&q%5Bsearch_check%5D=Y

*/
    @font-face {
        font-family: 'silkscreennormal';
        src: url('slkscr-webfont.eot');
        src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
            url('slkscr-webfont.woff') format('woff'),
            url('slkscr-webfont.ttf') format('truetype'),
            url('slkscr-webfont.svg#silkscreennormal') format('svg');
        font-weight: normal;
        font-style: normal;

    }

     /*
        External FONT: https://www.fontsquirrel.com/fonts/Dited?q%5Bterm%5D=dite&q%5Bsearch_check%5D=Y
        
        */
    @font-face {
        font-family: 'ditedregular';
        src: url('Dited-webfont.eot');
        src: url('Dited-webfont.eot?#iefix') format('embedded-opentype'),
            url('Dited-webfont.woff') format('woff'),
            url('Dited-webfont.ttf') format('truetype'),
            url('Dited-webfont.svg#ditedregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }


      canvas {
        margin-left:20px;
        margin-top:10px;
          
        /*
          float:left;
          clear:both;
          */
        box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
        background: black;
    }
        .controllers{
            padding-left: 3%;
            padding-right:3%;

            width:30%;
            background-color:#a698fa;
            
        }
      
      #controls{
      	margin-left:20px;
          margin-right:20px;
        margin-top:10px;
      }
        
        .boxes{
            background-color:#88b9ff;
            margin-top: 10px;
            padding: 10px;
        }
        
        .boxPieces{
            padding-bottom: 20px;
            padding-right: 20px;
        }
        
        body{
            background-color: #120F4C;
        }

.webText{
    font-family:ditedregular;
    color:#21124c;

}

p, label, option{
    font-family:silkscreennormal;
    color:#001446;
}